body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('imgs/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score{
    padding: 16px;
    font-size: 40px;
}

.btn{
    display: flex;
    padding: 16px;
    gap: 16px;
}

.gameBtn{
    background-color: rgb(216, 232, 93);
}

.active{
    background-color: rgb(83, 230, 135);
}

span{
    font-size: 40px;
}

.winner{
    font-size: 30px;
}